/* Preload images */
body:after {
	content: url(../images/lightbox/close.svg) url(../images/lightbox/loading.gif) url(../images/lightbox/prev.svg) url(../images/lightbox/next.svg);
	display: none;
}
.lightboxOverlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
	background-color: rgba(255,255,255,0.9);
	display: none;
}
.lightbox {
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 100000;
	text-align: center;
	line-height: 0;
	font-weight: normal;
}
.lightbox .lb-image {
 	display: block;
 	height: auto;
 	max-width: inherit;
}
.lightbox a img {
	border: none;
}
.lb-outerContainer {
	position: relative;
	background-color: #fff;
	*zoom: 1;
	width: 250px;
	height: 250px;
	margin: 0 auto;
}
.lb-outerContainer:after {
	content: "";
	display: table;
	clear: both;
}
.lb-container {
}
.lb-loader {
	position: absolute;
	top: 43%;
	left: 0;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
}
.lb-cancel {
	display: block;
	width: 32px;
	height: 32px;
	margin: 0 auto;
	background: url(../images/lightbox/loading.gif) no-repeat;
}
.lb-nav {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
}
.lb-container > .nav {
	left: 0;
}
.lb-nav a {
	outline: none;
	background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}
.lb-prev, .lb-next {
	height: 100%;
	cursor: pointer;
	display: block;
}
.lb-nav a.lb-prev {
	width: 34%;
	left: 0;
	float: left;
	background: url(../images/lightbox/prev.svg) left 48% no-repeat;
	opacity: 0;
	transition: opacity 0.6s;
}
.lb-nav a.lb-prev:hover {
	opacity: 1;
}
.lb-nav a.lb-next {
	width: 64%;
	right: 0;
	float: right;
	background: url(../images/lightbox/next.svg) right 48% no-repeat;
	opacity: 0;
	transition: opacity 0.6s;
}
.lb-nav a.lb-next:hover {
	opacity: 1;
}
.lb-dataContainer {
	margin: 0 auto;
	padding-top: 5px;
	*zoom: 1;
	width: 100%;
}
.lb-dataContainer:after {
	content: "";
	display: table;
	clear: both;
}
.lb-data {
	padding: 0;
	color: #aaa;
}
.lb-data .lb-details {
	width: 85%;
	float: left;
	text-align: left;
	line-height: 1.1em;
}
.lb-data .lb-caption {
	font-size: 13px;
	font-weight: 400;
	line-height: 1em;
}
.lb-data .lb-number {
 	display: block;
 	clear: left;
 	padding-bottom: 1em;
 	font-size: 12px;
 	color: #222;
}
.lb-data .lb-close {
	display: block;
	float: right;
	width: 40px;
	height: 40px;
	background: url(../images/lightbox/close.svg) top right no-repeat;
	text-align: right;
	outline: none;
	opacity: 0.7;
	transition: opacity 0.2s;
}
.lb-data .lb-close:hover {
	cursor: pointer;
	opacity: 1;
}
