body.login {
	background: rgba(246,157,175,0.25);
}
.login #login_error,
.login .message {
    border-left: 4px solid rgb(89,44,15);
    background-color: #fff;
}
input[type=text],
input[type=password] {
	outline: none;
	border: 1px solid #ddd;
	transition: all 0.3s ease;
}
input[type=text]:focus,
input[type=password]:focus {
	box-shadow: 0 0 5px rgba(246,157,175,0.75);
	border: 1px solid #ccc;
}
body.login div#login form#loginform p.submit input#wp-submit {
	background: rgb(89,44,15);
	text-shadow: none;
	border: none;
	box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}
body.login div#login p#nav a,
body.login div#login p#backtoblog a {
	color: #aaa;
	padding: 5px;
	background: rgba(255,255,255,0.1);
}