.team-member-list .single-team-member{
	box-shadow: 0 1px 4px #ababab;
}

.team-member-list .single-team-member .image{
	height: 300px;
}

.team-member-list .single-team-member .image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.team-member-list .single-team-member .description{
	padding: 10px 15px;
	background-color: #fff;
}

.landing-section{
	position: relative;
	background-image: url('/wp-content/themes/wp-web-westminsterhouse/images/ServicesBanner.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.landing-section .site-icon{
	position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    width: 40px;
    height: auto;
}

.home-cta .panel img, .landing-section img{
	height: 220px;
	object-fit: cover;
}

.documents-content {
	padding: 30px;
}
.documents a {
  padding-top: 10px;
}

.documents-subtitle {
	padding-top: 10px;
}
