/*
Theme Name: Westminster
Theme URI: http://www.viscodesign.com/
Author: Visco Design
Author URI: http://www.viscodesign.com/
Description: Custom theme design and build for Westminster House
Version: 1.0.0
License: Copyright Visco Design
License URI: http://www.viscodesign.com/
Text Domain: westminster
Tags:

Westminster is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
	## Asides
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

:root{
	--color-primary: rgb(246,157,175);
	--color-secondary: rgb(89,44,15);
	--color-gray-light: rgba(230,230,230,0.11);
}

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
	font-size: 14px;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

.btn{
	border-radius: 10px;
	padding: 10px 15px;
}

.btn.small{
	padding: 5px 10px;
}

.btn.primary{
	color: #fff;
	background-color: var(--color-primary);
	border: 1px solid var(--color-primary);
}

.btn.primary:hover{
	color: var(--color-primary);
	background-color: #fff;
}

.btn.secondary{
	color: #fff;
	background-color: var(--color-secondary);
	border: 1px solid var(--color-secondary);
}

.btn.secondary:hover{
	color: var(--color-secondary);
	background-color: #fff;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #333;
	font-family: 'open-sans', Helvetica, sans-serif;
	font-size: 16px;
	font-size: 1em;
	font-weight: 300;
	line-height: 1.5;
}
h1, .h1 {
	font: 100 normal 2.5em/1.1 'open-sans', Helvetica, sans-serif;
	color: #333;
	margin: 0 0 0.5em;
}
h2, .h2 {
	font: 400 normal 1.8em/1.15 'open-sans', Helvetica, sans-serif;
	color: var(--color-primary);
	margin: 0 0 0.5em;
}
h3, .h3 {
	font: 700 normal 1.4em/1.5 'open-sans', Helvetica, sans-serif;
	color: #888;
	margin: 0 0 0.5em;
}
h4, .h4 {
	font: 700 normal 1.15em/1.1 'open-sans', Helvetica, sans-serif;
	color: #111;
	margin: 0 0 0.75em;
}
h5, .h5 {
	font: 400 normal 1em/1.1 'open-sans', Helvetica, sans-serif;
	color: #333;
	font-variant: small-caps;
	letter-spacing: 0.015em;
	margin: 0 0 0.5em;
}
h6, .h6 {
	font: 400 normal 2.5em/1.2 'jbt-annabelle', Helvetica, sans-serif;
	color: var(--color-primary);
	margin: 0 0 0.5em;
}

p {
	font: 300 normal 1rem/1.5 'open-sans', Helvetica, sans-serif;
	margin: 0 0 1.25em;
	font-size: 17px;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 1em 0;
	padding: 2em 3em;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
blockquote p {
	font: 400 normal 2em/1.5 'jbt-annabelle', Helvetica, sans-serif;
	text-align: center;
	margin: 0 auto;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { 
	box-sizing: inherit;
}
body {
	background: #fff;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em;
	padding: 0 0 0 1.5em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto;
	max-width: 100%;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Structure
--------------------------------------------------------------*/

/* Global
--------------------------------------------------------------*/
.flex-container {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-direction: row;
	-ms-flex-wrap: wrap;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
	flex-flow: row wrap;
	-ms-flex-pack: space-between;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-ms-flex: 0 0 100%;
	-webkit-flex: 0 0 100%;
	flex: 0 0 100%;
	margin: 0;
	padding: 0;
}

/* Layout
--------------------------------------------------------------*/
.site-content {
	margin: 0;
	padding: 0;
}
#primary {
	width: 100%;
	margin: 0;
	padding: 1em;
}

.site-main {
	margin: 0 auto;
}
.page .site-main,
.single .site-main,
.post-type-archive-faq .site-main {
	max-width: 800px;
}
#secondary {
	width: 100%;
	margin: 0;
	padding: 0;
	background: #eee;
}
.inner-wrapper {
	max-width: 1000px;
	margin: 0 auto;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	display: inline-block;
	color: #fff;
	font: 400 normal 1em/1 'open-sans', Helvetica, sans-serif;
	margin: 0.25em 0;
	padding: 0.75em 1.25em;
	border: none;
	border-radius: 3em;
	text-decoration: none;
	background: var(--color-primary);
	transition: all 0.5s ease;
}
button.black {
	background: #333;
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	background: #333;
}
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ddd;
	border-radius: 6px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: #111;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 0.5em 1em;
}
textarea {
	padding-left: 3px;
	width: 100%;
}

/* Payment Form */
.payment-form {
	border: 1px solid #ddd;
	border-radius: 10px;
	margin: 1em 0;
	padding: 1em 0 0;
}
.payment-form fieldset {
	border: none;
	margin: 0;
	padding: 0;
}
.payment-form legend {
	font-weight: 700;
	border: 0;
	padding: 0 2em;
}
.payment-form div {
	margin: 0.25em 0;
	padding: 0.5em 2em;
}
.payment-form label {
	display: inline-block;
	width: 45%;
	min-width: 125px;
	max-width: 45%;
}
.payment-form input {
	display: inline-block;
	width: 50%;
	max-width: 50%;
	border-radius: 7px;
}
.payment-form select {
	display: inline-block;
	width: 50%;
	max-width: 50%;
}
.payment-form #helper-text {
	font-size: 75%;
	font-weight: 700;
	padding-left: 31%;
}
.payment-form .payment-button {
	margin: 1em 0 0;
	padding: 1em 2em;
	border-radius: 0 0 10px 10px;
	border-top: 1px solid #ddd;
	background: #eee;
}
.payment-form .payment-button .fa {
	margin-left: 0.5em;
}
.payment-form .payment-button span {
	display: block;
	margin: 1em auto;
}
.payment-form .payment-icon {
	width: 30px;
	max-width: 30px;
	margin-left: 5px;
}
.required {
	color: #aaa;
	font-size: 0.75em;
	font-weight: 400;
	text-transform: uppercase;
}
.required sup {
	color: #f00;
	font-weight: 700;
}
.currency {
	float: right;
	color: #bbb;
}

/* Ninja Forms */
.ninja-forms-form-wrap {
	margin: 2em 0;
	padding: 0;
	border-radius: 6px;
	border: 1px solid #ddd;
}
.ninja-forms-form-title {
	margin: 0;
	padding: 15px 30px;
	border-bottom: 1px solid #ddd;
	background: rgb(234,234,234);
}
.ninja-forms-response-msg p {
	margin: 0;
	padding: 15px 30px;
	color: #fff;
	border-bottom: 1px solid #ddd;
	background: rgb(4,3,3);	
}
.ninja-forms-form-wrap form {
	margin: 0;
	padding: 15px 30px;
}
.ninja-forms-required-items {
	margin: 0 0 1em;
	color: #aaa;
}
.ninja-forms-field-description {
	clear: both;
	color: #999;
}

/* Contact 7 Forms */
.wpcf7-form {
	border: 1px solid #ddd;
	border-radius: 10px;
	margin: 1em 0;
	padding: 15px;
	background: #eee;
}
.wpcf7-form-control-wrap,
.wpcf7-form input {
	box-sizing: border-box;
	max-width: 100%;
}
.wpcf7-form textarea {
	border-radius: 15px;
	padding: 10px;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: var(--color-primary);
}
a:visited {
	color: var(--color-primary);
}
a:hover,
a:focus,
a:active {
	color: var(--color-secondary);
}
a:focus,
a:hover,
a:active {
	outline: 0;
}

/* Styled Links */
a.btn {
	display: inline-block;
	color: #fff;
	font: 700 normal 1em/1 'open-sans', Helvetica, sans-serif;
	text-transform: uppercase;
	margin: 0.25em 0;
	padding: 1.25em 2.5em;
	border-radius: 3em;
	text-decoration: none;
	background: var(--color-primary);
	box-shadow: 0 2px 3px rgba(0,0,0,0.25);
	transition: all 0.5s ease;
}
a.btn:hover {
	background: #000;
}
.btn.small {
	font-size: 0.8125em;
	padding: 0.5em 1em;
}
.btn.large {
	font-size: 1.125em;
	padding: 0.65em 1.15em;
}
.more::after {
	content: '\f105';
	font-family: 'FontAwesome';
	color: #777;
	margin-left: 0.5em;
}
.less::before {
	content: '\f104';
	font-family: 'FontAwesome';
	color: #777;
	margin-right: 0.5em;
}
a.btn.pink {
	color: #fff;
	background: var(--color-primary);
}
a.btn.white {
	color: var(--color-primary);
	background: #fff;
}
a.btn.brown {
	color: #fff;
	background: var(--color-secondary);
}
a.btn.black {
	color: #fff;
	background: rgb(32,47,39);
}
a.btn.transparent {
	color: rgb(32,47,39);
	border: 1px solid #aaa;
	background: none;
	box-shadow: none;
}
a.btn::after {
	color: inherit;
}
a.btn .fa {
	margin-left: 0.5em;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/

/* Primary Menu */
#primary-menu {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: left;
	position: relative;
}
#primary-menu li {
	float: left;
	display: inline-block;
}
#primary-menu li a {
	display: block;
	color: var(--color-secondary);
	font: 400 normal 1rem/1 'open-sans', Helvetica, sans-serif;
	padding: 20px 10px;
	text-decoration: none;
}
#primary-menu li.menu-item-has-children > a::after {
    content: "\f107";
    font-family: 'FontAwesome';
    text-decoration: none;
    color: rgba(255,255,255,0.5);
    font-size: 14px;
	margin: 0;
    padding-left: 0.3em;
    border: none;
    vertical-align: baseline;
}

/* Submenu */
#primary-menu ul {
	display: none;
}
#primary-menu li:hover ul {
	display: block;
	position: absolute;
	top: 55px;
	left: auto;
	margin: 0;
	padding: 0;
	z-index: 9999;
	background: var(--color-primary);
	box-shadow: 0 3px 2px rgba(0,0,0,0.25);
}
#primary-menu ul li {
	float: none;
	display: block;
	margin: 0;
	padding: 0;
}
#primary-menu ul li a {
	color: #fff;
	font-size: 1em;
	font-weight: 400;
	text-transform: none;
	line-height: 1;
	padding: 1em 1.25em;
}
#primary-menu ul li:hover a {
	color: rgba(255,255,255,0.5);
}

/* Current Page */
#primary-menu .current_page_item > a,
#primary-menu .current-menu-item > a,
#primary-menu .current_page_ancestor > a {
	font-weight: 800;
}

/* Payments Link */
#primary-menu .list-item-payments {
	float: right;
}

/* Mobile Menu */
.menu-mobile-menu-container {
	display: none;
}

/* Footer Menu */
.footer-menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.footer-menu li {
	padding: 0.1em 0;
}
.footer-menu li a {
	font-size: 1.25em;
	font-weight: 300;
	text-decoration: none;
}

/*--------------------------------------------------------------
# Social Media Lists
--------------------------------------------------------------*/
.social-links {
	display: inline-block;
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
}
.social-links li {
	float: left;
	display: inline-block;
	margin: 0 6px 0 0;
	padding: 0;
}
.social-links li:last-of-type {
	margin: 0;
}
.social-links .fa {
	display: inline-block;
	width: 40px;
	height: 40px;
	padding: 12px;
	font-size: 16px;
	line-height: 16px;
	color: #fff;
	border-radius: 100%;
	text-align: center;
	background: var(--color-primary);
	transition: all 0.5s ease;
}
.social-links .fa:hover {
	background: rgba(246,157,175,0.5);
}

/* Footer */
.footer-contact .social-links {
	margin: 10px 0 0;
}
.footer-contact .social-links li {
	margin: 0 6px 0 0;
}
.footer-contact .social-links .fa {
	width: 30px;
	height: 30px;
	padding: 9px;
	font-size: 12px;
	line-height: 12px;
	color: #fff;
	transition: all 0.5s ease;
}
.footer-contact .social-links .fa:hover {
	background: rgb(32,47,39);
}


/*--------------------------------------------------------------
## Numeric Pagination
--------------------------------------------------------------*/
.pagination {
	margin: 0.5em 0;
	padding: 1em 0;
}
.pagination .fa {
	margin: 0;
	padding: 0;
}
.pagination a {
	float: left;
	color: #bbb;
	font-weight: 700;
	margin: 0;
	padding: 0.25em 0.8125em;
	text-decoration: none;
	border-left: 1px solid #ddd;
	background: #fff;
	transition: all 0.5s ease;
}
.pagination a:hover,
.pagination a.next:hover,
.pagination a.prev:hover {
	color: #fff;
	background: var(--color-primary);
}
.pagination a.prev {
	color: #fff;
	background: #bbb;
	border-left: none;
	transition: all 0.5s ease;
}
.pagination a.next {
	color: #fff;
	background: #bbb;
	border-left: none;
	transition: all 0.5s ease;
}
.pagination .dots {
	float: left;
	color: #aaa;
	margin: 0;
	padding: 0.25em 0.8125em;
	border-left: 1px solid #ddd;
}
.pagination .current {
	float: left;
	color: #fff;
	background: var(--color-primary);
	margin: 0;
	padding: 0.25em 0.8125em;
	border-left: 1px solid #ddd;
}

/*--------------------------------------------------------------
## Comments Navigation
--------------------------------------------------------------*/
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0;
	overflow: hidden;
	padding: 1.5em;
	border-radius: 5em;
	background: url('images/divider.png') #eee center center repeat-y;
}
.nav-links {
	margin: 0;
}
.nav-previous,
.nav-next {
	max-width: 50%;
}
.nav-previous a,
.nav-next a {
	font-size: 1em;
	font-weight: 400;
	color: #777;
}
.nav-previous::before {
	content: '\f104';
	font-family: FontAwesome;
	color: rgb(34,34,34);
	margin-right: 1em;
}
.nav-previous a:hover,
.nav-next a:hover {
	color: rgb(34,34,34);
}
.nav-next::after {
	content: '\f105';
	font-family: FontAwesome;
	color: rgb(34,34,34);
	margin-left: 1em;
}
.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
}
.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
}

/*--------------------------------------------------------------
## Back To Top
--------------------------------------------------------------*/
.back-to-top {
	position: fixed;
	bottom: 1em;
	right: 1em;
	display: none;
}
.back-to-top a {
	color: #fff;
	text-decoration: none;
	width: 50px;
	height: 50px;
	font-size: 1.25em;
	line-height: 1;
	padding: 15px;
	vertical-align: middle;
	background: var(--color-primary);
	transition: all 0.5s ease;
}
.back-to-top a:hover {
	background: var(--color-secondary);
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}
/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}
.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/* Location */
.map-wrapper {
	width: 100%;
	margin: 0 auto;
}
#location_map {
	position: relative;
	margin: 0;
	width: 100%;
	height: 0;
	padding-bottom: 50%;
	overflow: hidden;
}
.google-map {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
/* Header Search */
#header-search {
	width: auto;
	font-size: 20px;
	line-height: 1;
	color: var(--color-primary);
	text-align: center;
	display: flex;
	align-items: center;
}
#header-search .fa-search {
	color: var(--color-primary);
	font-size: 18px;
	margin: -3px 0 0;
	vertical-align: middle;
}
#header-search:hover {
	cursor: pointer;
}
#header-search > .search-form {
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	width: 400px;
	margin: 0;
	padding: 1.25em;
	text-align: right;
	font-size: 16px;
	border: 1px solid #ddd;
	border-top: none;
	background: #fff;
	z-index: 999;
}
#header-search > .search-form button{
	border-radius: 10px;
	padding: 6px 15px 6px 15px;
	color: #fff;
	background-color: var(--color-primary);
	border: 1px solid var(--color-primary);
	text-decoration: none;
	margin-right: 15px;
	line-height: 100%;
	font-size: 14px;
	display: inline-block;
}
#header-search input {
	box-sizing: border-box;
	width: 260px;
	padding: 0.5em 1.25em;
	border-radius: 3em;
}

/* Site Header */
.site-header {
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	background: #fff;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
#content{
	margin-top: 165px;
}

@media (max-width: 1200px){
	#content{
		margin-top: 208px;
	}
}

@media (max-width: 768px){
	#content{
		margin-top: 201px;
	}
}

.site-branding {
	width: 100%;
	margin: 0;
	padding: 15px;
	text-align: center;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 0 1px #ababab;
}
.header-logo {
	padding: 0;
	width: 230px;
}
.site-title {
	margin: 0 auto;
	width: 400px;
	max-width: 400px;
}
img.site-logo {
	width: 100%;
}
.highlight {
	color: var(--color-primary);
	font-weight: 800;
}

/* Site Contact CTA */
.header-contact-cta {
	background: var(--color-secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 15px;
    color: #fff;
    position: relative;
}

.header-contact-cta .social-links .fa{
	background: none;
	width: auto;
	height: auto;
	padding: 5px;
}

.header-contact-cta .header-social{
	display: flex;
	align-items: center;
}

.header-contact-cta .utility-menu .menu{
	list-style: none;
	display: flex;
	margin: 0;
}

.header-contact-cta .utility-menu .menu a{
	border-radius: 10px;
	padding: 4px 15px 4px 15px;
	color: #fff;
	background-color: var(--color-primary);
	border: 1px solid var(--color-primary);
	text-decoration: none;
	margin-right: 15px;
	line-height: 100%;
	font-size: 14px;
	display: inline-block;
}

.header-contact-cta .utility-menu .menu a:hover{
	color: var(--color-primary);
	background-color: #fff;
}

.header-contact-cta .utility-right{
	display: flex;
}

.header-contact{
	color: var(--color-primary);
	font-size: 1rem;
	text-align: center;
}

.header-contact .phone-no{
	text-decoration: none;
	color: var(--color-secondary);
	font-weight: 600;
}

/*--------------------------------------------------------------
## Front Page
--------------------------------------------------------------*/
/* Hero */
#front-hero {
	position: relative;
	width: 100%;
	height: 0;
	margin: 0;
	padding-bottom: 200px;
	overflow: hidden;
}
#front-hero {
	padding-bottom: 56.25%;
}
#front-hero img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	margin: 0;
	opacity: 0.25;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}
#front-hero .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 5% 2em 0;
	background: rgba(246,157,175,0.25);
	z-index: 99;
}
.hero-title {
	text-align: center;
}
.hero-title h6 {
	color: var(--color-secondary);
	font-size: 12vw;
	margin: 0;
	padding: 0 10px;
}

/* Intro Section */
#intro_section {
	width: 100%;
	margin: 0 auto 25px;
	padding: 2em;
	background: rgba(246,157,175,0.25);
}
.intro-title {
	text-align: center;
}
.intro-title h6 {
	color: var(--color-secondary);
	font-size: 12vw;
	margin: 0;
	padding: 0 10px;
}

.home .entry-content {
	max-width: 900px;
	margin: 0 auto;
	text-align: center;
}
.home .entry-content p {
	font-weight: 300;
	margin: 0 auto;
}

/* Home Videos */
.home-video {
	width: 100%;
	max-width: 800px;
	margin: 80px auto;
	text-align: center;
}
.home-video .embed-container {
	margin: 0 auto 25px;
}

/* Home Teasers */
#home-teasers {
	width: 100%;
	margin: 0;
	padding: 2em;
}
#home-teasers .widget {
	-ms-flex: 0 1 50%;
	-webkit-flex: 0 1 50%;
	flex: 0 1 50%;
	margin: 0;
	padding: 1em;
	text-align: center;
}
#home-teasers .widget > a {
	margin: 0 auto 1em;
	padding: 0;
	color: var(--color-primary);
	text-decoration: none;
	vertical-align: middle;
	transition: all 0.75s ease;
}
#home-teasers .widget a:hover {
	color: #333;
}
#home-teasers .widget .fa {
	color: var(--color-primary);
	font-size: 3em;
	vertical-align: middle;
}
#home-teasers .widget h6 {
	color: #333;
	font-size: 1.5em;
	margin: 0.5em auto;
}
#home-teasers .widget h6 a {
	color: #333;
	font-weight: normal;
	text-decoration: none;
}

/* Latest Videos */
#latest_videos {
	width: 100%;
	margin: 0;
	padding: 2em;
	text-align: center;
	background: #fff;
}

/* Latest News */
#latest_news {
	width: 100%;
	margin: 0;
	padding: 2em;
	text-align: center;
}
#latest_news h6 {
	color: #333;
}
#latest_news article .thumb-wrapper {
	float: left;
	width: 125px;
	margin: 0 1em 0.5em 0;
}
#latest_videos article, #latest_news article{
	-ms-flex: 0 1 100%;
	-webkit-flex: 0 1 100%;
	flex: 0 1 100%;
	max-width: 100%;
	padding: 15px;
}

/*--------------------------------------------------------------
## Archives
--------------------------------------------------------------*/
#archives {
	-ms-flex-pack: start;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;	
}

article.archive {
	-ms-flex: 0 1 50%;
	-webkit-flex: 0 1 50%;
	flex: 0 1 50%;
	max-width: 50%;
	margin: 0;
	padding: 0 1em 1em 0;
}
article.archive .entry-thumbnail {
	position: relative;
	width: 100%;
	height: 0;
	margin: 0 0 0.5em;
	padding-bottom: 56.25%;
	overflow: hidden;
}
article.archive .entry-thumbnail img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
}
article.archive h4 {
	font-size: 1em;
	line-height: 1.5em;
	min-height: 48px;
	margin: 0;
}
article.archive h4 a {
	color: #333;
	font-weight: 300;
	text-decoration: none;
}
article.archive .read-more a {
	text-transform: uppercase;
	text-decoration: none;
}
.read-more span {
	float: right;
	color: #999;
	font-size: 75%;
	text-transform: uppercase;
	margin-top: 4px;
}

/*--------------------------------------------------------------
## Staff
--------------------------------------------------------------*/
/* Search Bar */
.staff-search-bar {
	width: 100%;
	margin: 1em 0;
	padding: 1em;
	border-radius: 3em;
	border: 1px solid #ddd;
}
.all-staff {
	float: right;
	padding: 0.5em 1em;
}
#staffsearchform {
	margin: 0;
	padding: 0;
}
#staffsearchform input[type="text"] {
	color: #777;
	border: none;
	border-radius: 3em;
	width: 100%;
	max-width: 200px;
	margin: 0;
	padding: 0.25em 1em;
	background: #fff;
}
#staffsearchform select,
#staffsearchform select {
	-webkit-appearance: none;
	-moz-appearance: none;
	width: auto;
	margin: 0;
	padding: 8px 50px 8px 15px;
	color: #333;
	border-radius: 3em;
	border: none;
	cursor: pointer;
	background: url('images/dropdown-arrow.png') #eee right center no-repeat;
}
aside.store-search option {
	color: #333;
}
#staffsearchform #gosubmit {
	margin: 0 0 0 0.5em;
}
#staffsearchform #gosubmit::after {
	font-family: FontAwesome;
	content: "\f054";
	font-size: 80%;
	margin-left: 0.5em;
	color: rgba(255,255,255,0.25);
}

/* Archives */
article.archive.staff {
	padding: 1em 1.5em;
	text-align: center;
}
article.archive.staff .entry-thumbnail {
	margin: 0 0 0.5em;
	padding-bottom: 100%;
	border-radius: 100%;
	overflow: hidden;
}
article.archive.staff .entry-thumbnail img {
	vertical-align: middle;
}
article.archive.staff h3 {
	margin: 0;
}
h5.credentials {
	color: #999;
}
ul.contact-info-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul.contact-info-list li {
	display: inline-block;
	margin: 5px 3px;
}
ul.contact-info-list li a {
	display: inline-block;
	width: 45px;
	height: 45px;
	font-size: 15px;
	line-height: 1;
	color: #333;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
}
ul.contact-info-list li .fa {
	font-size: 15px;
	text-align: center;
	width: 45px;
	height: 45px;
	margin: 0;
	padding: 15px;
	border-radius: 100%;
	border: 1px solid #ddd;
}

/* Single Staff */
.single .staff .entry-header {
	padding: 0 0 1em;
	border-bottom: 1px solid #ddd;
}
.single-staff .entry-thumbnail {
	float: left;
	max-width: 250px;
	margin: 0 2em 0.5em;
	border-radius: 100%;
	overflow: hidden;
}
.single-staff .entry-thumbnail img {
	vertical-align: middle;
}

/*--------------------------------------------------------------
## Testimonials
--------------------------------------------------------------*/

/* Archives */
article.archive.testimonial {
	padding: 1em 1.5em;
	text-align: center;
}
article.archive.testimonial .entry-thumbnail {
	margin: 0 0 0.5em;
	padding-bottom: 100%;
	border-radius: 100%;
}
article.testimonial .entry-thumbnail img {
	border-radius: 100%;
}

/* Single Testimonials */
.single .testimonial .entry-header {
	padding: 0 0 1em;
	border-bottom: 1px solid #ddd;
}
.single .testimonial .entry-thumbnail {
	float: left;
	max-width: 250px;
	margin: 0 2em 0.5em;
	border-radius: 100%;
}

/*--------------------------------------------------------------
## FAQs
--------------------------------------------------------------*/
#faqs {
	margin: 1em 0;
	padding: 0;
}
#faqs h3 {
	font-size: 1.25em;
	padding-top: 0.5em;
	border-top: 1px solid #ddd;
}
#faqs h3 a {
	color: #333;
}
#faqs h3::before {
	content: '\f105';
	font-family: FontAwesome;
	font-size: 75%;
	color: #aaa;
	margin-right: 0.75em;
}
#faqs h3.ui-state-active a {
	color: var(--color-primary);
}
#faqs h3.ui-state-active::before {
	content: '\f107';
}
#faqs h3:first-of-type {
	border: none;
}
#faqs h3:focus,
#faqs h3:active {
	outline: none;
}
#faqs .accordion {
	height: auto;
}

/*--------------------------------------------------------------
## Posts and Pages
--------------------------------------------------------------*/
/* Page Thumb */
#page-thumb {
	position: relative;
	width: 100%;
	height: 0;
	margin: 0;
	padding-bottom: 200px;
	overflow: hidden;
}
#page-thumb img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	margin: 0;
	opacity: 0.25;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}
#page-thumb .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(246,157,175,0.25);
	z-index: 99;
}
.page-title {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	transform: translateY(-50%);
	text-align: center;
	z-index: 999;
}
.page-title h6 {
	color: var(--color-secondary);
	font-size: 10vw;
	margin: 0;
	padding: 0 10px;
}
.page-title * {
	display: inline-block;
}
.page-title .title-lead {
	font-size: 1.5em;
	display: inline-block;
}
.page-title .title-lead a {
	color: #333;
	font-weight: 400;
}
.page-title .title-lead::after {
	content: '\f105';
	font-family: FontAwesome;
	color: #333;
	margin: 0 1.25em 0 0.75em;
}

/* Posts */
.sticky {
	display: block;
}
.hentry {
	margin: 0 0 1.5em;
}
.byline,
.updated:not(.published) {
	display: none;
}
.single .byline,
.group-blog .byline {
	display: inline;
}
.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.entry-thumbnail {
	margin: 1em 0;
}

/* Pages */
.not-found .page-content {
	text-align: center;
}

#donate-today {
	border-radius: 2em;
	margin: 1em 0;
	padding: 1.5em 3em;
	background: var(--color-primary);
	text-align: center;
}
#donate-today h1 {
	color: #fff;
}

/* Payment Pages */
#payment-confirmation {
	margin: 0 0 2em;
	padding: 25px;
	border: 1px solid #ddd;
	border-radius: 10px;
}
#payment-confirmation .transaction-icon {
	float: left;
	display: inline-block;
	margin-right: 15px;
	vertical-align: middle;
	width: 35px;
}
#payment-confirmation h1 {
	display: inline-block;
	font-size: 2em;
	color: #aaa;
	margin: 0;
}
.transaction-type {
	font-weight: 700;
}
.transaction-amount {
	color: #000;
	font-weight: 700;
}


/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
.site-footer {
	margin: 0;
	padding: 0;
}
#footer-newsletter {
	margin: 0 auto;
	text-align: center;
	max-width: 800px;
	padding: 30px 15px;
}
#footer-newsletter h2{
	color: var(--color-secondary);
}
#footer-newsletter input {
	width: 250px;
	margin: 0.25em;
    -webkit-appearance: none;
	border-radius: 4em;
    border: 1px solid #ddd;
}
#footer-newsletter button[type="submit"]{
	background-color: var(--color-secondary);
	padding: 8px 40px;
}
#cta-donate {
	margin: 0;
	padding: 3em 2em 7em 2em;
	background: url('images/grass.png') bottom center repeat-x,
					  url('images/tree.png') bottom right no-repeat;
	background-size: 300px 52px,
					  180px 200px;
	background-color: var(--color-primary);
}
#cta-donate h1 {
	color: #fff;
	font-size: 2.5em;
	font-weight: 100;
	margin: 0 0 0.25em;
}
#footer-widget-area {
	margin: 0;
	padding: 2em;
	background: rgba(246,157,175,0.25);
}
#footer-widget-area .widget {
	-ms-flex: 0 0 100%;
	-webkit-flex: 0 0 100%;
	flex: 0 0 100%;
	margin: 0;
	padding: 1em 0;
}
#footer-widget-area .widget a,
#footer-widget-area .widget p,
#footer-widget-area .widget li {
	color: rgb(32,47,39);
}
#footer-widget-area .widget a:hover {
	text-decoration: none;
}
.footer-contact ul {
	margin: 0;
	padding: 0 0 0 1.5em;
}
.footer-contact li {
	margin: 0 0 0.5em;
}
.footer-contact .fa {
	color: var(--color-primary);
}
.footer-logo {
	max-width: 16em;
}
.site-info {
	margin: 0;
	padding: 2em;
	background: rgb(245,247,246);
}
.site-info p {
	color: #555;
	font-size: 0.75em;
	line-height: 1;
	margin: 0;
}
.site-info a {
	color: #555;
}
#sponsors {
	margin: 0;
	padding: 2em;
}
.sponsor-logo {
	-ms-flex: 0 1 50%;
	-webkit-flex: 0 1 50%;
	flex: 0 1 50%;
	max-width: 50%;
	margin: 0;
	padding: 0;
	text-align: center;
}
.sponsor-logo img {
	width: auto;
	height: 100px;
	max-height: 100px;
	margin: 0 auto;
}
.webdev,
.webdev a {
	color: #aaa;
	font-weight: 400;
}

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
embed,
iframe,
object {
	max-width: 100%;
}
/* Responsive Embeds */
.embed-container {
	position: relative;
	margin: 0;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	overflow: hidden;
}
.embed-container embed,
.embed-container iframe,
.embed-container object {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	max-width: 100%;
	height: 100%;
}

/*--------------------------------------------------------------
## Documents/Attachments
--------------------------------------------------------------*/
.documents {
	border: 1px solid #ddd;
	border-radius: 10px;
	margin: 1em 0;
	padding: 0;
}
.documents h1 {
	margin: 0;
	padding: 30px;
	border-radius: 10px 10px 0 0;
	border-bottom: 1px solid #ddd;
	background: #eee;
}
.documents p {
	margin: 0;
	padding: 30px;
}
.documents .fa {
	color: #bbb;
	font-size: 20px;
	margin-right: 6px;
}
.file-specs {
	font-size: 75%;
	color: #333;
	text-transform: uppercase;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}
.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
#photo-gallery {
	width: 100%;
	margin: 2em 0 1em;
	padding: 1.5em;
	border: 1px solid #ddd;
	border-radius: 10px;
	-ms-flex-pack: start;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
}
#photo-gallery a.fancybox {
	-ms-flex: 0 1 33.33%;
	-webkit-flex: 0 1 33.33%;
	flex: 0 1 33.33%;
	max-width: 150px;
	margin: 0;
	padding: 0 5px 5px 0;
	vertical-align: middle;
}
#photo-gallery a.fancybox img {
	vertical-align: middle;
}


.gallery {
	margin-bottom: 1.5em;
}
.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}
.gallery-columns-2 .gallery-item {
	max-width: 50%;
}
.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
	max-width: 25%;
}
.gallery-columns-5 .gallery-item {
	max-width: 20%;
}
.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}
.gallery-caption {
	display: block;
}

/* Custom layout */

.custom-template-main section:nth-child(odd) {
	background-color: #f8f9fa;
}

.custom-template-main .custom-layout-section .image-block img {
	width: 100%;
	max-height: 400px;
	object-fit: cover;
}

/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/

/* 	480px Breakpoint	*/
@media only screen and (min-width: 480px) {
#latest_videos article,
#latest_news article {
	-ms-flex: 0 0 100%;
	-webkit-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
	text-align: left;
	border: none;
}
#latest_videos article .thumb-wrapper,
#latest_news article .thumb-wrapper {
	float: none;
	width: 100%;
	margin: 0 0 0.5em;
}
#latest_news .btn {
	font-size: 100%;
}
.payment-form .payment-button span {
	float: right;
	margin: 0.5em 0 0;
}
.payment-form label {
	width: 30%;
	max-width: 30%;
}
.payment-form input,
.payment-form select {
	width: 60%;
	max-width: 200px;
}

}

/* 	600px Breakpoint	*/
@media only screen and (min-width: 600px) {

.site-branding {
	padding: 15px;
}
#primary {
	padding: 2em 3em;
}
#front-hero {
	padding-bottom: 45%;
}
#front-hero img {
	top: -10%;
}
#front-hero .overlay {
	padding: 10% 2em 0;
}
#home-teasers {
	padding: 0 2em;
}
#home-teasers .widget {
	-ms-flex: 0 1 25%;
	-webkit-flex: 0 1 25%;
	flex: 0 1 25%;
	max-width: 25%;
	padding: 2em 1em;
	text-align: center;
}
#home-teasers .widget > a {
	float: none;
	width: 100px;
	height: 100px;
	margin: 0 auto;
}
.hero-title h6 {
	font-size: 10vw;
}
.page-title h6 {
	font-size: 8vw;
}
.documents br {
	display: none;
}	
.file-specs {
	float: right;
}
article.archive {
	-ms-flex: 0 1 33%;
	-webkit-flex: 0 1 33%;
	flex: 0 1 33%;
	max-width: 33%;
}
.responsive-wrap {
	float: left;
	width: 49%;
	max-width: 49%;
	padding-right: 20px;
}
#footer-newsletter * {
	display: inline-block;
	vertical-align: middle;
	margin: 0.25em;
}
#footer-widget-area {
	padding: 2em;
}
#footer-widget-area .footer-menu.widget {
	-ms-flex: 1 1 25%;
	-webkit-flex: 1 1 25%;
	flex: 1 1 25%;
	max-width: 25%;
	margin: 1.5em 0;
	padding: 0;
}
#footer-widget-area .footer-contact.widget {
	-ms-flex: 1 1 45%;
	-webkit-flex: 1 1 45%;
	flex: 1 1 45%;
	max-width: 45%;
	margin: 1.5em 0;
	padding: 0 2em;
}
#footer-widget-area .footer-contact.widget li {
	font-size: 14px;
}
#footer-widget-area .footer-branding.widget {
	-ms-flex: 0 1 30%;
	-webkit-flex: 0 1 30%;
	flex: 0 1 30%;
	max-width: 30%;
	text-align: right;
	margin: 1.5em 0;
	padding: 0;
}
.sponsor-logo {
	-ms-flex: 0 1 25%;
	-webkit-flex: 0 1 25%;
	flex: 0 1 25%;
	max-width: 25%;
}
.back-to-top {
	bottom: 3em;
	right: 1.5em;
}

}

a.btn {
	padding: 8px 20px;
}

/* 	800px Breakpoint	*/
@media only screen and (min-width: 800px) {

#primary,
.site-info {
	padding: 2em 3em;
}
#home-teasers .widget {
	-ms-flex: 0 1 25%;
	-webkit-flex: 0 1 25%;
	flex: 0 1 25%;
	max-width: 25%;
}
#home-teasers .widget h6 {
	font-size: 2em;
}
#latest_videos,
#latest_news {
	padding: 3em;
}
.wpcf7-form {
	float: right;
	width: 50%;
	margin: 0 0 1em 2em;
}
article.archive {
	-ms-flex: 0 1 25%;
	-webkit-flex: 0 1 25%;
	flex: 0 1 25%;
	max-width: 25%;
}
article.archive h4 {
	min-height: 10px;
	margin: 0 0 0.5em;
}
#cta-donate {
	padding: 4em 200px 4em 3em;
}
#footer-widget-area .footer-menu.widget {
	-ms-flex: 1 1 20%;
	-webkit-flex: 1 1 20%;
	flex: 1 1 20%;
	max-width: 20%;
}
#footer-widget-area .footer-contact.widget {
	-ms-flex: 1 1 50%;
	-webkit-flex: 1 1 50%;
	flex: 1 1 50%;
	max-width: 50%;
}
#sponsors,
#footer-widget-area,
.site-info {
	padding: 2em 3em;
}
.site-info br {
	display: none;
}
.webdev {
	float: right;
}

.slicknav_menu {
	position: relative !important;
}

}

/* 	1000px Breakpoint	*/
@media only screen and (min-width: 1000px) {

#primary,
.site-info {
	padding: 2em 4em;
}
.site-branding {
	padding: 15px;
}
.header-logo {
	display: inline-block;
	margin: 0;
}
#front-hero {
	padding-bottom: 35%;
}
#front-hero img {
	top: -15%;
}
#front-hero .overlay {
	padding: 10% 4em 0;
}
.intro-title h6,
.hero-title h6 {
	font-size: 8vw;
	padding: 0 25px;
}
.page-title h6 {
	font-size: 6vw;
}
#home-teasers .widget h6 {
	font-size: 2.25em;
}
#cta-donate {
	padding: 4em 200px 4em 4em;
}
#sponsors,
#footer-widget-area,
.site-info {
	padding: 2em 4em;
}
.back-to-top {
	bottom: 4em;
	right: 2em;
}

}

/* 	1100px Breakpoint	*/
@media only screen and (min-width: 1100px) {

.site-branding {
	padding: 15px
}

}

/* 	1200px Breakpoint	*/
@media only screen and (min-width: 1200px) {

.main-navigation {
	display: block;
}
.site-branding {
	padding: 15px;
}
#cta-donate {
	padding: 5em;	
}
#sponsors,
#footer-widget-area,
.site-info {
	padding: 2em 5em;
}

}

/* Longevity */

.page-id-2152 .slicknav_menu{
	display: none;
}

/*.page-id-2152 .header-contact-cta{
	display: none;
}*/

.page-id-2152 .site-header{
	margin-top: 0;
}

.page-id-2152 #site-navigation{
	display: none;
}

.page-id-2152 #cta-donate{
	display: none;
}

.page-id-2152 .footer-menu{
	display: none;
}

@media (max-width: 1201px){
	.header-contact-cta{
		width: 100%;
		position: relative;
	}
	.slicknav_menu {
		position: relative;
	}
	.site-branding {
		/*margin-top: 44px;*/
	}
	#site-navigation{
		display: none;
	}
}

.slicknav_menu{
	position: relative;
	left: 0;
	top: 0;
}

.home-cta{
	padding: 2em 2em 0 2em;
	display: flex;
	flex-wrap: wrap;
}

.home-cta .title {
	text-align: center;
	padding: 20px 10px 10px 10px;
	color: var(--color-secondary);
	font-weight: bold;
}

.home-cta .panel img{
	width: 100%;
	display: block;
}

.home-cta >div{
	width: 100%;
	padding: 7.5px 20px;
	box-sizing: border-box;
}

.grid-list-hover-overlay .title{
	text-align: center;
	padding: 20px 10px 10px 10px;
	color: var(--color-secondary);
	font-weight: bold;
}

.title-center .block-title{
	text-align: center;
}

.title-right .block-title{
	text-align: right;
}

.home-cta .panel{
	position: relative;
}

.home-cta .panel .overlay{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10%;
	text-align: center;
	font-size: 14px;
	opacity: 0;
	transition: opacity .4s ease-out 0s;
	background-color: rgba(255,255,255,.8);
}

.home-cta .panel .overlay:hover{
	opacity: 1;
}

.home-cta .panel .overlay a{
	color: black;
	padding: 6px 25px;
	border-radius: 20px;
	background-color: transparent;
	border: 2px solid #ababab;
	text-decoration: none;
	margin-top: 15px;
}

.home-cta .panel .overlay a:hover{
	background-color: var(--color-secondary);
	color: #fff;
	border: 2px solid var(--color-secondary);
}

.btn-landing-page{
	color: black;
	padding: 6px 25px;
	border-radius: 20px;
	background-color: transparent;
	border: 2px solid #ababab;
	text-decoration: none;
	margin-top: 15px;
}

.btn-landing-page:visited{
	color: black;
}

.btn-landing-page:hover{
	background-color: var(--color-secondary);
	color: #fff;
	border: 2px solid var(--color-secondary);
}

.favicon{
	margin-bottom: 20px;
}


@media (min-width: 480px){
	.home-cta >div{
		width: 100%;
	}
}

.header-social {
	display: none !important;
}

@media (min-width: 768px){
	.header-social {
		display: block !important;
	}
	.home-cta >div{
		width: 50%;
	}
	#latest_videos article, #latest_news article {
		-ms-flex: 0 0 50%;
		-webkit-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
		text-align: left;
		border: none;
	}
}

@media (min-width: 1024px){
		
	.home-cta >div{
		width: 33.33%;
	}
	#latest_videos article, #latest_news article {
		-ms-flex: 0 0 33.33%;
		-webkit-flex: 0 0 33.33%;
		flex: 0 0 33.33%;
		max-width: 33.33%;
		text-align: left;
		border: none;
	}
}

.grid-list-hover-overlay .image{
	position: relative;
}

.grid-list-hover-overlay .image img{
	width: 100%;
	display: block;
}

.above-the-fold .grid-list-hover-overlay img{
	height: 220px;
	object-fit: cover;
}

.grid-list-hover-overlay .image .overlay{
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: absolute;
	padding: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	opacity: 0;
	transition: opacity .5s ease-out 0s;
	background-color: rgba(255,255,255,.7);
}

.grid-list-hover-overlay .image .overlay p{
	font-weight: bold;
}

.grid-list-hover-overlay .image .overlay:hover{
	opacity: 1;
}

.btn-lg{
	padding: 8px 35px !important;
	font-size: 100% !important;
}

.btn-transparent{
	border: 1px solid black;
    padding: 8px 20px;
    border-radius: 19px;
    color: black;
    font-size: 80%;
    cursor: pointer;
    color: #333;
}
.btn-transparent:visited{
	color: #333;
}
.btn-transparent:hover{
	background-color: black;
	color: #fff !important;
}
.btn-primary{
	border: 1px solid var(--color-primary) !important;
    padding: 8px 20px;
    border-radius: 19px;
    color: #fff !important;
    background-color: var(--color-primary) !important;
}

.color-primary{
	color: var(--color-primary) !important;
}

.color-secondary{
	color: var(--color-secondary) !important;
}

.img-full{
	display: block;
	width: 100%;
}

.text-primary{
	color: var(--color-primary) !important;
}

.text-secondary{
	color: var(--color-secondary) !important;
}

.text-gray-light{
	color: var(--color-gray-light) !important;
}

.bg-primary{
	background-color: var(--color-primary) !important;
}

.bg-secondary{
	background-color: var(--color-secondary) !important;
}

.bg-gray-light{
	background-color: var(--color-gray-light) !important;
}

.bg-light{
	background-color: rgba(248, 156, 177, 0.2) !important;
}

.bg-gray-light{
	background-color: var(--light) !important;
}

.container-sm{
	max-width: 650px;
}

@media (min-width: 768px){
	.order-md-initial{
			order: initial;
	}
}

.split-hr{
	margin-top: .6rem;
	margin-bottom: 1rem;
    max-width: 250px;
    margin-left: 0;
    background-color: var(--color-secondary);
}

#primary.flexbile-content-template {
	padding: 0 !important;
}

.text-padding .text-editor{
	padding: 25px 10% !important;
}

.image-gallery img{
	height: 300px;
	object-fit: cover;
}

.image-gallery .row{
	margin-left: -7.5px;
	margin-right: -7.5px;
}

.image-gallery .row div[class^=col-]{
	padding-left: 7.5px;
	padding-right: 7.5px;
	padding-top: 7.5px;
	padding-bottom: 7.5px;
}

.landing-section-bottom .title{
	order: 2;
}

.landing-section-bottom .image{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	min-height: 200px;
	order: 1;
}

.slick-prev{
	z-index: 2;
	left: 25px !important;
	padding: 5px !important;
    width: 35px !important;
    height: 35px !important;
    border: 0 !important;
    border-radius: 50%;
    background-color: #fff !important;
    box-shadow: 0 1px 2px black;
}
.slick-prev::before{
	content: '\f104' !important;
	font-family: FontAwesome !important;
	color: black !important;
}

.slick-next{
	z-index: 2;
	right: 25px !important;
	padding: 5px !important;
    width: 35px !important;
    height: 35px !important;
    border: 0 !important;
    border-radius: 50%;
    background-color: #fff !important;
    box-shadow: 0 1px 2px black;
}
.slick-next::before{
	content: '\f105' !important;
	font-family: FontAwesome !important;
	color: black !important;
}

.footer-logo {
	width: 100%;
}

a.btn {
	white-space: pre-wrap;
}

.addiction-test-form form {
	width: 100%;
}

.addiction-test-form form input {
	width: 100%;
}

input[type='text'], input[type='email'] {
	display: block;
	width: 100%;
}

.smaller-image .text-editor {
	padding: 15px 15px !important;
}

.smaller-image img {
	width: 100%;
	padding: 15px 15px !important;
}

.smaller-image-early .text-editor {
	padding: 15px 15px !important;
}

.smaller-image-early img {
	width: 100%;
	padding: 15px 15px !important;
}

@media (min-width: 992px){
	.smaller-image-early img {
			width: 80%;
			margin-left: auto;
		}
}

@media (min-width: 768px){
	.landing-section-bottom .image{
		min-height: 0;
		order: 2;
	}
	.landing-section-bottom .title{
		order: 1;
	}

	.smaller-image img {
		width: 80%;
		margin-left: auto;
	}
}

@import "/css/longevity.css";

/*single program page*/

.grid-padding .d-flex > div {
	padding: 30px;
}

@media only screen and (max-width: 767px) {
	.grid-padding .d-flex > div {
		padding: 0px;
	}
}

.program-stages img {
	height: 275px;
	width: 100%;
	object-fit: cover;
}